body {
  font-family: "Roboto", sans-serif;
  margin:0;
  background: url("images/bball.jpg");
  background-size: cover;
}

h1{
  color: black;
}

header {
  margin-top: 25px;
  height:80px;
  color: black;
  margin-bottom: 55px;
}

.box {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

header h1 {
  line-height: 1;
  top:24px;
  text-align: center;
  color: black;
}

header .question-score {
  font-size: 20px;
  font-weight: 600px;
  background: none;
}

.question-score ul {
  text-align:center;
  padding-left: 2%;
  padding-right: 2%;
}

.question-score li {
  display: inline-block;
  padding:0 2%;
}

button {
  margin-top:10px;
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color:black;
  background: rgb(233, 106, 106);
  border: 0;
  margin-bottom: 0;
  border-radius:3px;
  padding: 10px 20px;
}

fieldset {
  width:80%;
  padding: 40px;
  margin:0 auto;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

legend {
  font-weight: 700;
  font-size: 18px;
}

.question-form .question {
  margin-bottom: 20px;
  padding: 0 2%;
  font-size: 20px;
  font-weight: 600px;
}

.options ul {
  list-style: none;
  margin:0;
  text-align:left;
}

label {
  font-size:18px;
}

.options span {
  display:block;
  border-radius:5px;
}

.right-answer {
 background:ivory;
 padding: 10px 20px;
 margin: 5px 20px;
 border:2px solid;
 color: green;
 font-weight: bold;
 font-size: 25px;
}

.wrong-answer{
  background:ivory;
  padding: 10px;
  margin: 5px 20px;
  border:2px solid;
  color: red;
  font-weight: bold;
  font-size: 25px;
}

.question-form button {
  float:right;
}

button:hover:enabled,
button:focus:enabled{
  background-color: red;
}

button:disabled {
  opacity:0.5;
}


* {
  box-sizing: border-box;
}

.box {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.box::before,
.box::after {
  display: table;
  content: '';
}

.box::after {
  clear: both;
}

.under-box {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.under-box {
  width: 100%;
}

@media only screen and (min-width: 640px) {
  .under-box {
    width: 100%;
  }
}